@using ComputerShop.Models
@{
    var valueID = Context.Request.Query["id"];
    var activeElem = Model.ElementAt(Convert.ToInt32(valueID));
}
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Товары";
}


<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary">Мы предоставляем вам</span>
                    <span class="d-block text-dark"> Одни из лучших решений на рынке</span>
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="product-detail section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="product-thumb">
                    <img src="@activeElem.img" class="img-fluid product-image" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="product-info d-flex">
                    <div>
                        <h2 id="nameProduct" class="product-title mb-0">@activeElem.Name</h2>

                        <p class="product-p">@activeElem.ShortDesc</p>
                    </div>

                    <small id="priceProduct" class="product-price text-muted ms-auto mt-auto mb-5">@activeElem.price ₽</small>
                </div>

                <div class="product-description">

                    <strong class="d-block mt-4 mb-2">О товаре</strong>

                    <p class="lead mb-5">@activeElem.Description</p>
                </div>

                <div class="product-cart-thumb row">
                    <div class="col-lg-6 col-12">

                        <select class="form-select cart-form-select" id="inputGroupSelect01">
                            <option selected>Quantity</option>
                            @{
                                ushort count = activeElem.count;
                                for (ushort n = 1; n <= count; n++)
                                {
                                    <option value="@n">@n</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                        <form action="@Url.Action("Cart","Home")">
                            <button onclick="addProductToCart();" type="submit" class="btn custom-btn cart-btn" data-bs-toggle="modal" data-bs-target="#cart-modal">Купить</button>
                        </form>
                    </div>

                    <p>
                        <a href="#" class="product-additional-link">Детали</a>

                        <a href="#" class="product-additional-link">Доставка и оплата</a>
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="related-product section-padding border-top">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h3 class="mb-5">вам также может понравиться</h3>
            </div>

            @{
                foreach (var elem in Model)
                {
                    if (elem.isHit)
                    {
                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">
                                <a href="@Url.Action("product_detail", "Home", new { id = elem.Id })">
                                    <img src="@elem.img" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-top d-flex">
                                    <span class="product-alert">ХИТ</span>
                                    <a href="@Url.Action("product_detail", "Home", new { id = elem.Id })"></a>
                                </div>
                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="@Url.Action("product_detail", "Home", new { id = elem.Id })" class="product-title-link">@elem.Name</a>
                                        </h5>

                                        <p class="product-p">@elem.ShortDesc</p>
                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">@elem.price ₽</small>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>
